/* styles.css */
body {
    font-family: "KaiTi", 楷体, serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
    margin: 20px;
    padding: 0;
}

h1 {
    font-family: "Kaiti", 楷体, serif;
    color: #222;
    margin-left: 10px;
    font-size: 36px;
    /* border-bottom: 2px solid #ccc; */
    /* padding-bottom: 10px; */
    /* margin-bottom: 10px; */
}

.content {
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
}

.creation-date {
    font-size: 0.9em;
    color: #666;
    margin-top: -30px;
    margin-bottom: 30px;
    padding-bottom: 5px;
    border-bottom: 2px solid #ccc;
    text-align: right;
}

.back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    font-weight: bold;
}

.back-to-top:hover {
    background-color: #45a049;
}

p {
    text-indent: 2em; 
    font-size: 18px;
}